// [ej portfolio] main.sass
// -----------------------------------------------
@import "variables"

html
	color: $color-text-primary
	font-family: Microsoft JhengHei, 'Noto Sans TC', 'Lato', Helvetica, Arial, Verdana, sans-serif
	font-size: 14px
	letter-spacing: .08em
	line-height: 1.75em

p
	margin: 0

ul
	list-style-type: none
	margin: 0
	padding: 0