// [ej portfolio] main.sass
// -----------------------------------------------
@import "../import/import"

// Layout
// ------------------------
.content-title
    font-size: 1.25em
    font-weight: bold
    letter-spacing: .5em
    position: relative

    &::before
        +size(100%, 2px)
        +position(absolute, 50% null null 0)
        content: ''
        background: $color-text-primary

.title-text
    background: $color-white
    display: inline-block
    margin-left: 50%
    padding: 0 .75em
    position: relative
    transform: translateX(-50%)
    white-space: nowrap
    z-index: 100

.content-detail
    padding: 2em 0


// I18n
// ------------------------
body
    &.lang-en
        .content-title
            letter-spacing: .1em