// [ej portfolio] main.sass
// -----------------------------------------------
@import "../import/import"


// Usage
// ------------------------
.align-jusitfy
    text-align: justify

// Layout
// ------------------------
.page-wrap
    +on-mobile
        padding:  1.5em
    +size(100%)
    background: $color-background
    min-height: 100vh
    padding: 5em 3em

.wrap-container
    +on-tablet
        flex-direction: column
    +size(auto, 80%)
    background: $color-white
    border-radius: 2px
    display: flex
    max-width: 900px
    overflow: hidden
    margin: 0 auto
    position: relative

.box-wrap
    +on-tablet
        width: 100%
    +on-mobile
        padding: 2em
    +size(50%, auto)
    padding: 3.5em

    &:first-child
        +on-tablet
            padding-bottom: 0

    &:last-child
        padding-top: 0
        +on-desktop
            padding-top: 5em

.seperator
    +on-tablet
        display: none
    +position(absolute, 5em null null 50%)
    +size(2px, calc(100% - 10em))
    background: $color-text-primary

// Logo
// ------------------------
.logo
    +size(6.25em)
    border: 2px solid $color-text-primary
    border-radius: 2px
    display: inline-block
    margin-bottom: 3em
    padding: .4em
    position: relative
    
    &::before
        content: 'CHEN \A E J'
        font-size: 1.8em
        line-height: 1.4em

    &::after
        +position(absolute, null .25em .25em null)
        +triangle("down-right", .6em, .3em, $color-text-primary)
        content: ''


// Laguages
// ------------------------
.languages
    +size(6em, 2.4em)
    border: 2px solid $color-deep-pink
    border-radius: 2px
    color: $color-deep-pink
    cursor: pointer
    float: right
    font-size: .9em
    margin-top: 2em
    position: relative

    &::before,
    &::after
        +size(50%, 100%)
        font-weight: bold
        text-align: center
        transition: background .2s, color .2s

    &::before
        +position(absolute, null null null 0)
        background: $color-deep-pink
        color: $color-white
        content: '中文'

    &::after
        +position(absolute, null 0 null null)
        content: 'EN'

    &.is-en
        &::before
            background: transparent
            color: $color-deep-pink

        &::after
            background: $color-deep-pink
            color: $color-white


// Info
// ------------------------
.info
    font-weight: bold
    margin-bottom: 3em

.my-name
    font-size: 1.4em
    letter-spacing: .25em
    margin-bottom: .25em

.my-career
    color: $color-deep-pink
    font-size: 1.1em


// Exhibition
// ------------------------
.exhibition-block
    &:not(:last-child)
        margin-bottom: .5em

.exhibition-year
    font-weight: bold


// Careers
// ------------------------
.career-item
    &:not(:last-child)
        margin-bottom: 1em

.career-duration
    font-weight: bold

.career-position
    margin-bottom: .5em

.career-detail-list
    font-size: .95em
    list-style-type: square
    margin-left: 1.25em


// Skill
// ------------------------
.skill-container
    align-items: center
    display: flex
    justify-content: space-between

    &:not(:last-child)
        margin-bottom: .25em

.skill-bar
    +size(9em, .55em)
    border: 1px solid $color-deep-pink
    border-radius: .6em
    min-width: 9em
    overflow: hidden

.bar-progress
    background: $color-deep-pink
    height: 100%