<template>
<div class="content-box">
    <div class="content-title">
        <div class="title-text">{{title}}</div>
    </div> 
    <div class="content-detail">
        <slot name="content"></slot>
    </div>       
</div>
</template>

<script>
export default {
    name: 'ContentBox',
    props: {
        title: String,
    },
}
</script>

<style lang="sass">
@import "../style/components/content-box.sass"
</style>
