<template>

</template>

<script>
export default {
    name: 'Main',
    data () {
        return {
            
        }
    }
}
</script>

<style lang="sass">
@import "../style/views/main.sass"
</style>
