<template>
  <div id="app" class="page-wrap">
    <div class="wrap-container">
      <div class="box-wrap">
        <div class="logo"></div>
        <div class="languages"
          :class="{'is-en': lang === 'en'}"
          @click="toggleLang"></div>
        <div class="info">
          <div class="my-name">陳怡潔</div>
          <div class="my-career">{{$t('f2e')}}</div>
        </div>
        <ContentBox
          :title="$t('about-me')">
          <p class="about-me"
            v-html="aboutMe"
            :class="{'align-jusitfy': lang === 'tw'}"
            slot="content">
          </p>
        </ContentBox>
        <ContentBox
          :title="$t('works-experience')">
          <ul class="career-list" slot="content">
            <li v-for="career in careerList" :key="career.id" class="career-item">
              <div class="career-duration">{{career.duration}}</div>
              <div class="career-position">{{career.company}} / {{career.position}}</div>
              <ul class="career-detail-list" :class="{'align-jusitfy': lang === 'tw'}">
                <li class="career-detail" v-for="detail in career.details" :key="detail.id">
                  {{detail}}
                </li>
              </ul>
            </li>
          </ul>
        </ContentBox>
      </div>
      <div class="seperator"></div>
      <div class="box-wrap">
        <ContentBox
          :title="$t('f2e-skills')">
          <ul class="skill-list" slot="content">
            <li v-for="skill in frontendSkillList" :key="skill.id" class="skill-container">
              {{skill.title}}
              <div class="skill-bar">
                <div class="bar-progress" :style="{'width': skill.progress + '%'}"></div>
              </div>
            </li>
          </ul>
        </ContentBox>
        <ContentBox
          :title="$t('other-skills')">
          <ul class="skill-list" slot="content">
            <li v-for="skill in otherSkillList" :key="skill.id" class="skill-container">
              {{skill.title}}
              <div class="skill-bar">
                <div class="bar-progress" :style="{'width': skill.progress + '%'}"></div>
              </div>
            </li>
          </ul>
        </ContentBox>
        <ContentBox
          :title="$t('exhibition')">
          <ul class="exhibition-list" slot="content">
            <li v-for="exhibition in exhibitionList" :key="exhibition.id" class="exhibition-block">
              <div class="exhibition-year">{{exhibition.year}}</div>
              <ul>
                <li class="exhibition-item" v-for="item in exhibition.exhibitions" :key="item.key">
                  「{{item.title}}」 / {{item.place}} / {{item.location}}
                </li>
              </ul>
            </li>
          </ul>
        </ContentBox>
      </div>
    </div>
  </div>
</template>

<script>
import ContentBox from './components/contentBox.vue';
import { setup } from './i18n/lang'

export default {
  name: 'App',
  components: {
    ContentBox
  },
  data () {
    return {
      lang: 'en',
      frontendSkillList: [
        {
          title: 'html',
          progress: 95
        },
        {
          title: 'CSS',
          progress: 95
        },
        {
          title: 'SASS',
          progress: 90
        },
        {
          title: 'JavaScript',
          progress: 85
        },
        {
          title: 'Vue',
          progress: 80
        },
        {
          title: 'Vuex',
          progress: 60
        },
        {
          title: 'Quasar (VueJS)',
          progress: 80
        },
        {
          title: 'Vue test utils + Mocha',
          progress: 40
        },
        {
          title: 'Node.js',
          progress: 40
        },
        {
          title: 'Git',
          progress: 50
        }
      ],
      otherSkillList: [
        {
          title: 'Adobe XD',
          progress: 60
        },
        {
          title: 'Illustrator',
          progress: 80
        },
        {
          title: 'Photoshop',
          progress: 75
        },
        {
          title: 'After Effect',
          progress: 65
        },
        {
          title: 'processing',
          progress: 50
        }
      ]
    }
  },
  computed: {
    aboutMe () {
      return this.$t('info')
    },
    careerList () {
      return [
        {
          duration: '2018/3~',
          company: this.$t('careers.travel-skope'),
          position: this.$t('careers.f2e'),
          details: [
            this.$t('careers.travel-skope-detail-1'),
            this.$t('careers.travel-skope-detail-2'),
            this.$t('careers.travel-skope-detail-3'),
            this.$t('careers.travel-skope-detail-4'),
            this.$t('careers.travel-skope-detail-5')
          ]
        },
        {
          duration: '2017',
          company: this.$t('careers.art-bank'),
          position: this.$t('careers.intern'),
          details: [
            this.$t('careers.art-bank-detail-1'),
            this.$t('careers.art-bank-detail-2'),
            this.$t('careers.art-bank-detail-3')
          ]
        }
      ]
    },
    exhibitionList () {
      return [
        {
          year: '2017',
          exhibitions: [
            {
              title: this.$t('exhibitions.young-voice'),
              place: this.$t('exhibitions.dadun-cultural-center'),
              location: this.$t('exhibitions.taichung')
            },
            {
              title: this.$t('exhibitions.gazing-into-the-wildernessazzig'),
              place: this.$t('exhibitions.chiang-kai-shek-memorial-hall'),
              location: this.$t('exhibitions.taipei')
            }
          ]
        },
        {
          year: '2016',
          exhibitions: [
            {
              title: this.$t('exhibitions.on-site'),
              place: this.$t('exhibitions.taipei-expo-park'),
              location: this.$t('exhibitions.taipei')
            },
            {
              title: 'AP',
              place: this.$t('exhibitions.tnua'),
              location: this.$t('exhibitions.taipei')
            },
            {
              title: this.$t('exhibitions.forced-producing'),
              place: this.$t('exhibitions.tnua'),
              location: this.$t('exhibitions.taipei')
            }
          ]
        }
      ]
    }
  },
  methods: {
    toggleLang () {
      this.lang = this.lang === 'tw' ? 'en' : 'tw'
      setup(this.lang)
    }
  }
}
</script>

<style lang="sass">
@import "./style/layout/main"
</style>
